---
title: Resume
layout: default
---

#a4
	
	.p-0.m-2
		.sp1-1
			.bg ilan

	.p-1.m-2.h10
		.sp1-2
			.bg ilan
		.sp1-2
			.bg ilan

	.p-2.m-2.h20
			.sp3-4
				.bg ilan
			.sp1-4
				.bg ilan

	.p-5.m-2.h20
			.sp1-6
				.bg ilan
			.sp1-6
				.bg ilan
			.sp3-6
				.bg ilan
			.sp1-6
				.bg ilan


	.p-0.m-2
		.sp1-1
			.bg ilan
