---
title: Resume
layout: default
---

//-| p-X 
//-| m-X / m-t-X / m-b-X
//-| h-X
//-| sp-X

//-| bg-X / bg-o-X / bg-oo-X
//-| ts-X

//-| hr-X

//-| bdrs

//-| lb
//-| ld
//-| lp-X

#a4

	.p-0.m-b-5.h-5.bg-oo-8
		.sp-1-1
			h2.ts-1 Title

	.p-3.bg-0
		.sp-1-2
			.hr-1
		.sp-1-2
			.hr-1				

	.row.lp-2.ld.lb
		.sp-1-1
			.p-3.h-10.bg-oo-0
				.sp-1-4
					ul
						li ilan
						li ilan
						li ilan
				.sp-1-4
					ul
						li ilan
						li ilan
						li ilan					
				.sp-2-4
					ul
						li ilan
						li ilan
						li ilan

	.p-3.bg-0
		.sp-1-2
			.hr-1
		.sp-1-2
			.hr-1				


	.p-5.m-1.h-20.bg-3.bdrs
		.sp-3-4 ilan
		.sp-1-4 ilan

	.p-5.m-1.h-20.bg-oo-4.bdrs
		.sp-1-6 ilan
		.sp-1-6 ilan
		.sp-3-6 ilan
		.sp-1-6 ilan

	.p-0.m-1.bg-5
		.sp-1-1 ilan
	.p-0.m-1.bg-6
		.sp-1-1 ilan
	.p-0.m-1.bg-7
		.sp-1-1 ilan
	.p-0.m-1.bg-8
		.sp-1-1 ilan
	.p-0.m-1.bg-9
		.sp-1-1 ilan
	.p-0.m-1.bg-10
		.sp-1-1 ilan
	.p-0.m-1.bg-11
		.sp-1-1 ilan
	.p-0.m-1.bg-12
		.sp-1-1 ilan														
	.p-0.m-1.bg-13
		.sp-1-1 ilan
	.p-0.m-1.bg-14
		.sp-1-1 ilan
	.p-0.m-1.bg-15
		.sp-1-1 ilan														

