---
title: Resume
layout: default
---

//- p 
//- m / m-t / m-b
//- h
//- sp


#a4

	.p-0.m-2.bg
		.sp-1-1
			h2 Title

	.p-1.m-2.h-10
		.sp-1-2	ilan		
		.sp-1-2	yosi

	.p-2.m-2.h-20.bg
		.sp-3-4 ilan
		.sp-1-4 ilan

	.p-5.m-2.h-20.bg
		.sp-1-6 ilan
		.sp-1-6 ilan
		.sp-3-6 ilan
		.sp-1-6 ilan

	.p-0.m-2.bg
		.sp-1-1 ilan
